* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

#mainSection {
  /* display: grid; */
  margin-top: 175px;
  
}
body {font-family:  Helvetica, sans-serif;
     
}

#subSection {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px;

}

img {
  display: block;
  width: 100%;
  height: auto;
  /* opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden; */
}
#div1_id {
  position: relative;
  width: 100%;
}

#div1_id:hover img {
  opacity: 0.2;
  cursor: pointer;
}
#div4_id {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  /* 
    background-color:turquoise;
    color: white;
    font-size: 16px;
    padding: 16px 32px; */
}
#div1_id:hover #div3_id {
  /* opacity: 1; */
  height: 100%;
}
#div3_id {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.9s ease;

  /* transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; */
}
#topic {
  text-align: center;
  margin-bottom: 10px;
  color: #444444;

}

.detailbtn {
  /* height: 30px; */
  color: white;
  
  background-color: #9f694a;
  border: none;
  padding: 8px;
  font-weight: bold;
  font-size: medium;
}
#div2_id_img{
  height: 100%;
  width: 100%;
}
.detailbtn:hover {
  background-color: white;
  /* color: #bd6e41; */
  color: #c26f3f;
}
#div2_id{
  object-fit: cover;
  height: 270px;

}
#tag {
  text-align: center;
  margin-top: 10px;
  /* color: #c26f3f; */
  /* color: rgb(181,135,109); */
  color: #b5876d;
  font-size: x-large;
}

#inpdiv {
  text-align: center;
  margin-top: 20px;
}
#inputbox {
  width: 20%;
  height: 30px;
  border: 2px solid #b5876d;
  border: 2px solid #585757;
  transition: 0.4s ease;
  /* border-radius: 10px; */
  padding: 10px;
}
#inputbox:hover {
  scale: 1.4;
  border-radius: 15px;
}
#sortDiv {
  margin-left: 42px;
}
#sortDiv button {
  border: none;
  border-radius: 4px;
  background-color: rgb(181,135,109);
  /* background-color: #c26f3f; */
  font-size: medium;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-right:10px ;
  /* margin-bottom: -20px; */
}
#sortDiv button:hover {
  background-color: #8e5838;
}



/* nav */









@media screen and (max-width: 750px) {
  #subSection {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 40px;
  }
}

@media screen and (max-width: 450px) {
  #subSection {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 40px;
  }
}
