#header{
    text-align: center;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 50px;
    font-family: sans-serif ;
    color: #444444;
    
}

#header2{
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: sans-serif ;
    color: #444444;
    
}
#secondImage >div >div h3{
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: sans-serif ;
    color: #444444;
     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  */
    
}

#secondImage >div >div:hover{

     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
     width: 100%;
    
     text-align: center;
    
}
#chargs h2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    /* margin-right: 5%; */
    margin: auto;
    

    
}

#chargs {
background-color: rgb(181,135,109);
width: 20%;
height: auto;
margin-left: 80%;
padding: 10px;
text-align: center;
margin-top: 24px;
/* opacity: 0; */
    

    
}

#block:hover{
    opacity: 1;

}
#block{
    background-color: white;
    width: 100%;
    height: auto;
    opacity: 0;
}


#secondImage >div >div p{
    text-align: left;
    margin-left: 40px;
    width: 93%;
    font-family: sans-serif ;
    color: #444444;
}
#secondImage >div >div p ~ p{
    text-align: left;
    width: 66%;
    font-family:system-ui ;
    color: #444444;
}







#secondImage {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    text-align: center;
    
}


/* #footImage {
    width: 45%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #444444;
    
} */

 #secondImage   > div{
     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  */
     text-align: center; 
     margin-left: 7%;
     padding: 20px; 
    /* border-radius: 10px; */
} 

#secondImage   > div > a{
    width: auto;
    padding-left: 2%;

   
    
}


#secondImage > div{
    display: flex;
    text-align: center;

}

#secondImage > div p{
    width: 100%;
    margin: auto;

}

#secondImage > div a{
 text-decoration: none;

}

#footRoom {
    
   width: 5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
   margin-left: 50%;
   color: #444444;
   font-family: sans-serif;
}
#footRoom a h3 {
    color: #444444;
    font-family: sans-serif;
   
}

#footRoom a h3:hover {
    color: rgb(207, 129, 27);

   
}
#footRoom a h2 {
    color: #444444;
    font-family: sans-serif;
    color: rgb(207, 129, 27);
   
}
#footRoom a {
    text-decoration: none;
    /* font-family: sans-serif; */
   
}

#text h3:hover {
    color: rgb(207, 129, 27);

   
}
#input {
display: flex;
gap: 50px;
border: 1px solid;
background-color: #F8F9Fa;
color: #444444;
border: none;
padding: 50px 20px 50px 30%;
   
}
/* 
#input input {
    width: 20%;
    height: 30px;
    margin-top: 25px;;
    margin-left: 10px;

}
.main-menu ul li a {
    color: #ffffff;
    position: relative;
}
a {
    text-decoration: none;
} */







/* @media only screen and (min-width: 421px) and (max-width: 720px) {

    #secondImage {
          grid-template-columns: repeat(2,1fr);
    }
} */




/* @media only screen and (min-width: 421px) and (max-width: 720px) {

    #footImage {
          grid-template-columns: repeat(2,1fr);
    }
    #secondImage > div >div {
        grid-template-columns: repeat(2,1fr);
  }
}


@media only screen and (min-width: 0px) and (max-width: 420px) {

    #footImage {
          grid-template-columns: repeat(1,1fr);
    }
    #text {
        grid-template-columns: repeat(1,1fr);
    }

} */